:root {
  --color-2e2f42: #2e2f42;
  --color-434455: #434455;
  --color-ffffff: #ffffff;
  --color-e7e9fc: #e7e9fc;
  --color-4d5ae5: #4d5ae5;
  --color-404bbf: #404bbf;
  --color-f4f4fd: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--color-2e2f42);
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

/* Утилиты */
.section {
  padding: 120px 0 120px 0;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* HEADER SECTION  */
.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--color-e7e9fc);
}

.header__wrapper {
  display: flex;
}

.header__navigation {
  display: flex;
}
.header__navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;

  color: var(--color-4d5ae5);

  margin-right: 76px;
}

.header__logo-span {
  color: var(--color-2e2f42);
}
.header__navigation-list {
  display: flex;
  gap: 40px;
}


.header__nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--color-404bbf);
}

.header__address {
  margin-left: auto;
}

.header__contact-list {
  display: flex;
  gap: 40px;
}

.header__contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-434455);
}

.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--color-404bbf);
}

/* INDEX PAGE */

/* HERO SECTION */
.hero {
  background-color: var(--color-2e2f42);
  padding: 188px 0;
}

.hero__title {
  width: 496px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--color-ffffff);

  margin: 0 auto 48px auto;
}

.hero__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-ffffff);
  background-color: var(--color-4d5ae5);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 16px 32px;
  cursor: pointer;

  display: block;
  margin: 0 auto;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--color-404bbf);
}

/* APPROACH SECTION */

.approach__title {
  visibility: hidden;
  color: var(--color-2e2f42);
}

.approach__list {
  display: flex;
  gap: 24px;
}

.approach__item {
  width: calc(100% - 30px / 4);
}

.approach__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-2e2f42);

  margin-bottom: 8px;
}

.approach__description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-434455);
}

/* SERVICES SECTION */
.services {
  padding-top: 0;
}

/* .section {
} */

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-2e2f42);

  margin-bottom: 72px;
}

.services__list {
  display: flex;
  gap: 24px;
}

/* .services__item {
} */

/* .services__img {
} */

/* TEAM SECTION */
.team {
  background-color: var(--color-f4f4fd);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-2e2f42);

  margin-bottom: 72px;
}

.team__list {
  display: flex;
  gap: 24px;
}

.team__item {
  background-color: var(--color-ffffff);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* .team__img {
} */

.team__info-wrapper {
  padding: 32px 8px ;
}

.team__user-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-2e2f42);

  margin-bottom: 8px;
}

.team__user-position {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-434455);
}

/* PORTFOLIO PAGE */
.portfolio {
  padding-top: 96px;
}

.portfolio__title {
  width: 496px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--color-ffffff);

  margin: 0 auto 48px auto;
}

.portfolio__subtitle {
  visibility: hidden;
}

.portfolio__button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--color-f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-4d5ae5);
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  padding: 12px 24px;

  cursor: pointer;
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--color-ffffff);
  background-color: var(--color-404bbf);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio__card-wrapper-link {
  color: var(--color-2e2f42);
}


.portfolio__desription-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--color-e7e9fc);
  border-top: none;
}

.portfolio__product-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio__product-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-434455);
}

/* FOOTER SECTION */
.footer {
  background-color: var(--color-2e2f42);
  padding: 100px 0;
}

.footer__logo-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-4d5ae5);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer__logo-span {
  color: var(--color-f4f4fd);
}

.footer__description {
  width: 264px;
  color: var(--color-e7e9fc);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
